<li id="<%= feed_item.id %>">
  <!-- link_to gravatar_for(feed_item.human), feed_item.human -->
  <span class="human">
    <%= link_to feed_item.human.name, feed_item.human %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <!-- time_ago_in_words(feed_item.created_at) %> ago. -->
  </span>
  
  <!-- below code might be wrong. need to check back after other user posts are in feeds -->
  <% if current_human == feed_item.human %>
  	<%= link_to "delete", feed_item, method: :delete,
  																	 data: { confirm: "You sure?" },
  																	 title: feed_item.content %>
  	<% end %>
</li>