<div class="container-fluid">
	<div class="row-fluid">
	
		<div class="span2">
			<%= render 'layouts/sidebar' %>
		</div>
		
		<div class="span10">
			<h3>Discussion Feed</h3>
			<%= render 'shared/post_form' %>	
      <% @posts.each do |post| %>
      	<li>
      		<%= post.human.name %>:
      		<%= post.content %>
      		
      		
      	</li>
      <% end %>
		</div>
	
	</div>
</div>