@import "bootstrap";

/* mixins */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* landing page */

.center_hero-unit {
	background: transparent;
}

.row {
}

div {
}


body {
	background-color: #ad3b3b;
}

h1 {
	
}

.password{}

.password-confirmation{}


/* sidebar */

#profile {
	width: 150px;
	height: 150px;
	background-color: grey;
	border: solid thin;
}