<div>
	
	<p><div id="profile"></div></p>
	
	<h3><%= current_human.name %></h3>
	
	<p><div>Extraordinary Human Network, Brain Hacker, Musician, Adventurer, Experience Pusher, Eternal Student</div>
	
</div>